<html>
    <body style="background-color: #a598ee;">
        <h2>Results</h2>
        {% if result|length>0 %}
            {% for i in result %}
                <h2>Arist</h2>{{ i['_source']['artist'] }}
                <h2>genere</h2>{{ i['_source']['genere'] }}
                <h2>lyrics</h2>{{ i['_source']['lyrics'] }}
                <h2>views</h2>{{ i['_source']['views'] }}
                <hr>
                <br>
                <br>
            {% endfor %}
        {%else%}
            <h2>No Result Found</h2>
        {%endif%}
        <!-- {{result|safe}} -->
    </body>
</html>